In [32]:
import pandas as pd

finance_df = pd.read_excel('재무데이터.xlsx')
finance_df.head(3)

,Unnamed: 0,사업자번호,결산년월,유동자산,매출채권,비유동자산,유형자산,자산총계,유동부채,비유동부채,...,비유동부채비율(%),부채총계대 매출액(%),총자본회전율(회),재고자산회전율(회),매출채권회전율(회),매입채무회전율(회),미수금,매출원가,무형자산,재고자산
0,0,1018100340,20181231,2667731.0,127320.0,32346444.0,1179096.0,35014174.0,422872.0,16176067.0,...,87.841,250.381,0.163,1.000000e+12,44.062,1.000000e+12,NaN,NaN,NaN,NaN
1,1,1018100340,20191231,2168837.0,94085.0,34151633.0,1209369.0,36320470.0,10553878.0,5240445.0,...,25.500,241.400,0.184,1.000000e+12,59.092,NaN,NaN,NaN,NaN,NaN
2,2,1018100340,20201231,2272260.0,78612.0,38329680.0,1091153.0,40601940.0,863144.0,15496117.0,...,63.921,275.719,0.154,1.000000e+12,68.714,1.000000e+12,NaN,NaN,NaN,NaN

In [33]:
finance_df.rename(columns={'사업자번호': 'BIZ_NO'}, inplace=True)

In [34]:
fin_df = finance_df

In [36]:
fin_df['결산년월']= fin_df['결산년월'].astype('str')
fin_df['결산년월'] = pd.to_datetime(fin_df['결산년월'], format='%Y%m%d', errors='raise')

In [37]:
fin_df['결산년월']

0        2018-12-31
1        2019-12-31
2        2020-12-31
3        2021-12-31
4        2018-12-31
            ...
109137   2021-12-31
109138   2018-12-31
109139   2019-12-31
109140   2020-12-31
109141   2021-12-31
Name: 결산년월, Length: 109142, dtype: datetime64[ns]

In [38]:
fin_df['year'] = fin_df.결산년월.apply(lambda x: x.year)
fin_df['year']

0         2018
1         2019
2         2020
3         2021
4         2018
          ...
109137    2021
109138    2018
109139    2019
109140    2020
109141    2021
Name: year, Length: 109142, dtype: int64

In [43]:
fin = fin_df[['BIZ_NO','year','유보액/총자산(%)', '기업순이익률(%)','매출액순이익률(%)','차입금의존도(%)','부채총계대 매출액(%)']]

In [44]:
fin.head(3)

,BIZ_NO,year,유보액/총자산(%),기업순이익률(%),매출액순이익률(%),차입금의존도(%),부채총계대 매출액(%)
0,1018100340,2018,4.877,6.161,37.849,1.000000e+12,250.381
1,1018100340,2019,4.300,7.600,41.800,0.000000e+00,241.400
2,1018100340,2020,5.121,8.858,57.417,1.000000e+12,275.719

In [74]:
active_df = pd.read_excel('액티브 중소법인 재무보유.xlsx')
close_df = pd.read_excel('휴폐업 중소법인 재무보유.xlsx')

In [78]:
active_df

,BIZ_NO,CMP_PFIX_NM,CMP_NM1,CMP_SFIX_NM,CMP_ENM,BZ_TYP,CMP_SCL,PBCO_GB,PSN_CORP_GB,HDOF_BR_GB,...,MDSCO_PRTC_YN,HDOF_CMP_CD,ESTB_DATE,ESTB_GB,LIST_DATE,MN_BIZ_CONT,NATN_NM,HOMEPAGE_URL,CEO_NM,EMP_CNT
0,1138111739,NaN,한일가스산업,(주),"HANIL GAS IND. CO.,LTD.",M,2,2,1,1,...,N,NaN,19660419.0,1,NaN,LP Gas 충전 및 판매업,NaN,www.hanilgas.com,홍순철외 1명,43.0
1,2078132193,(주),엠피아이,NaN,"EMPIALEE CO.,LTD.",M,2,2,1,1,...,N,NaN,19910806.0,1,NaN,가죽 및 대용가죽제품 제조업,NaN,www.mastercnd.co.kr,이스테판상수외 1명,35.0
2,1318167565,NaN,도영운수,(주),"DOYOUNG TRANSPORTATION CO.,LTD.",M,2,2,1,1,...,N,NaN,20011030.0,1,NaN,시내버스업,NaN,transport@naver.com,김명화,149.0
3,5048128251,(주),중원산업,NaN,"JOONGWON INDUSTRIAL CO.,LTD.",M,2,2,1,1,...,N,NaN,19990112.0,1,NaN,자동차 부품 제조,NaN,www.koreajw.com,김명구,75.0
4,1098164260,(주),카타나골프,NaN,"CATANA GOLF CO.,LTD.",M,2,2,1,1,...,N,NaN,20000531.0,1,NaN,골프용품 전반의 제조 및 수출업,NaN,NaN,김홍득,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28977,8048101453,NaN,제이앤인베스트먼트,NaN,J&INVESTMENT,M,2,2,1,1,...,N,NaN,20191206.0,1,NaN,경영컨설팅업,NaN,NaN,정경태,0.0
28978,8028701430,NaN,디앤엠개발,(주),"DNM Development Co., Ltd.",M,2,2,1,1,...,N,NaN,20200402.0,1,NaN,비주거용 건물 임대업,NaN,NaN,송성현,1.0
28979,4268501421,NaN,마스비 건축연구소,NaN,NaN,M,2,2,1,2,...,N,1220726.0,19900108.0,1,NaN,"BIM용역, 엔지니어링컨설팅",NaN,NaN,김태남,81.0
28980,6518502462,(주),건설레미콘의정부공장,NaN,"Construction Remicon Uijeongbu Factory Co., Ltd.",M,2,2,1,2,...,N,1583116.0,20220615.0,1,NaN,레미콘,NaN,NaN,이미성,26.0
28981,6698502065,NaN,아이비텍 (주) 김해지점,NaN,NaN,M,2,2,1,2,...,N,3095826.0,20211209.0,1,NaN,전자기기검사,NaN,NaN,양재현,3.0

In [ ]:
all_data = active_df.append(close_df,ignore_index=True)
all_data

In [81]:
all_data = all_data[['BIZ_NO', 'BZ_TYP','PSN_CORP_GB','VENT_YN','MDSCO_PRTC_YN','ESTB_DATE','EMP_CNT']]

In [82]:
all_data = pd.merge(all_data, fin, how='outer', on='BIZ_NO')

In [84]:
all_data

,BIZ_NO,BZ_TYP,PSN_CORP_GB,VENT_YN,MDSCO_PRTC_YN,ESTB_DATE,EMP_CNT,year,유보액/총자산(%),기업순이익률(%),매출액순이익률(%),차입금의존도(%),부채총계대 매출액(%)
0,1138111739,M,1,N,N,19660419.0,43.0,2021.0,8.419,1.000000e+12,-4.118000e+00,24.165,6.340900e+01
1,2078132193,M,1,N,N,19910806.0,35.0,2019.0,34.000,9.200000e+00,4.300000e+00,24.900,4.000000e+01
2,2078132193,M,1,N,N,19910806.0,35.0,2020.0,29.253,2.355000e+00,1.017000e+00,40.155,7.035000e+01
3,2078132193,M,1,N,N,19910806.0,35.0,2021.0,32.238,3.881000e+00,2.536000e+00,40.451,6.212700e+01
4,1318167565,M,1,N,N,20011030.0,149.0,2019.0,44.378,-4.640000e+00,-1.951000e+00,14.347,2.071300e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
109149,8018501578,M,1,N,N,20200727.0,22.0,2020.0,-10.636,-2.129400e+01,-4.202700e+01,72.569,2.255340e+02
109150,4118523419,M,1,N,N,20190926.0,0.0,2019.0,37.545,1.000000e+12,-1.481060e+02,42.357,1.167408e+03
109151,4118523419,M,1,N,N,20190926.0,0.0,2020.0,0.976,-3.262700e+01,-2.122600e+01,53.587,5.984400e+01
109152,1738102533,M,1,N,N,20211025.0,NaN,2021.0,-5.054,1.000000e+12,1.000000e+12,84.785,1.000000e+12
109153,3138135248,M,1,Y,N,20200629.0,NaN,2020.0,53.498,1.000000e+12,1.000000e+12,0.000,1.000000e+12

In [85]:
all_data.isna().sum()

BIZ_NO              0
BZ_TYP              0
PSN_CORP_GB         0
VENT_YN             0
MDSCO_PRTC_YN       0
ESTB_DATE        1977
EMP_CNT          1650
year               12
유보액/총자산(%)        139
기업순이익률(%)          45
매출액순이익률(%)        673
차입금의존도(%)         388
부채총계대 매출액(%)      636
dtype: int64

In [88]:
#설립일자 데이트 형식 변환(아직 오류 ㅜㅜ)
all_data['ESTB_DATE']= all_data['ESTB_DATE'].astype('str')
all_data['ESTB_DATE'] = pd.to_datetime(fin_df['ESTB_DATE'], format='%Y-%m-%d', errors='raise')

KeyError: 'ESTB_DATE'

In [ ]:
#아직 안함 결측치 함수
train_isna_sum[train_isna_sum != 0].index
na_columns = train_isna_sum[train_isna_sum != 0].index
def fill_bicycle_na(df, column) :
    
    df[column] = df[column].fillna(value = df[column].mean())

for col in na_columns:
    
    fill_bicycle_na(train, col)
    
    print(col, '결측값 대체 완료')